body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333;
}

p {
    padding: 10px;
}

#wrapper {
    margin: 0px;
    width: 100%;
}

#headerwrap {
    width: 100%;
    float: left;
    margin: 0px;
}

#header {
    height: 75px;
	font-size: 60px;
	font-style: italic;
	font-family: Courier New;
	color: #EFEFEF;
    background: #3c3c3c;
    border-radius: 0px;
    border: 3px solid #1B1B1B;
    margin: 0px;
}

#navigationwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
}

#navigation {
    height: 40px;
    background: #FFCC33;
    border-radius: 10px;
    border: 1px solid #ebb81f;
    margin: 5px;
}

#contentwrap {
    width: 100%;
    float: center;
    margin: 0 auto;
}

#content {
    background: #FFFFFF;
    border-radius: 0px;
    border: 3px solid #00BFFF;
    margin: 0px;
}

#leftcolumnwrap {
    width: 150px;
    float: left;
    margin: 0 auto;
}

#leftcolumn {
    background: #33CCFF;
    border-radius: 10px;
    border: 1px solid #1fb8eb;
    margin: 5px;
}

#footerwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
    clear: both;
}

#footer {
    height: 40px;
    background: #33FF66;
    border-radius: 10px;
    border: 1px solid #1feb52;
    margin: 5px;
}
#feedback { font-size: 2em; text-align: center;}
#selectable .ui-selecting { background: #0431B4; color: white; text-align: center;}
#selectable .ui-selected { background: #0174DF; color: white; text-align: center;}
#selectable { list-style-type: none; margin: 0; padding: 0; width: 80%; text-align: center;}
#selectable li { margin: 3px; padding: 0em; font-size: 1.6em; height: 30px; text-align: center;}
#opciones-roles {margin: 0 auto; width: 100px;}
#titulos-tareas-centradas {text-align: center;}
